<header class="bg-[#fafafa] py-3 px-6 w-full flex">
  <div class="flex items-center gap-2">
    <img class="w-5" src="images/icon-logo.svg" alt="">
    <h1 class="font-bold">GoTask</h1>
  </div>
  <nav class="ml-auto flex gap-6">
    <button class="bg-white p-2 rounded-b-xl">
      <img class="w-5" src="images/icon-notification.svg" alt="">
    </button>
    <div class="flex items-center gap-3">
      <img class="w-7" src="images/icon-user-avatar.svg" alt="">
      <samp class="font-bold">Usuario</samp>
      <button class="w-3">
        <img class="w-3" src="images/icon-sign-out.svg" alt="">
      </button>
    </div>
  </nav>
</header>
